@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #000;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
p {
    color: #fff;
}
/* container */
.container {
    max-width: 890px;
    width: 100%;
    background: #fff;
    margin: auto;
    box-shadow: 0 5px 20px #ffffffae;
    border: 1px solid #ffffffae;
    border-top: none;
    border-bottom: none;
}

/* hero */
.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.555),#adff2f), url(./img/background.jpg)center/cover no-repeat;
    position: relative;
    overflow: hidden;
}
.hero::after {
    content: " ";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.458);
    position: absolute;
    top: 0;
    left: 0;
}
.header {
    width: 890px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: #000;
    box-shadow: 5px 5px 14px #fff9;
}
.icon_nav {
    display: none;
}
.logo {
    padding: 8px;
    z-index: 1000;
}
nav {
    display: block;
    z-index: 10000;
}
nav ul li {
    display: inline-block;
    padding: 3px;
    margin-left: 15px;
}
nav ul li:nth-child(1 ) {
    margin-left: 0;
}
nav ul li:last-child {
    margin-left: 50px;
    border: 2px solid #adff2f;
    padding: 8px;
    border-radius: 30px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    font-size: 15px;
}
.hero_content {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.col_right {
    order: 2;
    z-index: 100;
    /* align-self: end; */
    position: relative;
}
.hero_img {
    width: 100%;
    height: 100%;
    position: relative;
}
.col_left {
padding: 30px;
z-index: 300;
}
.col_left h2 {
    color: #adff2f;
    font-size: 30px;
}
.rect {
    width: 80px;
    height: 3px;
    background: #adff2f;
    margin: 10px 0 15px 0;
    border-radius: 30px;
}
.col_left p {
    font-size: 13px;
}
.col_left p span {
    font-size: 16px;
    color: #adff2f;
    text-transform: capitalize;
    font-weight: 600;
}
/* section {

} */
/* aboutme */
#about {
    background: #1f3302cc;
    margin-bottom: 0;
    /* min-height: 700px; */
}
.about_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}
.img_col {
    padding: 30px;
}
.about_info {
    padding: 0 20px;
    position: relative;
}
.about_info h2 {
    color: #76af1e;
    font-size: 30px;
    margin-bottom: 20px;
}
.about_info h2 span {
    color: #fff;
}
.abt_rect {
    width: 5px;
    height: 23px;
    background: red;
    position: absolute;
    top: 11px;
    left: 10px;
}
.about_info p{
    width: 400px;
    font-size: 13px;
    padding-right: 30px;
}
.abt_btn {
    width: 60%;
        margin-top: 15px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 500;
}
.hireme {
    border: 2px solid #adff2f;
    padding: 10px;
    border-radius: 30px;
}
.cv {
    border: 2px solid #adff2f;
    padding: 10px;
    border-radius: 30px;
}
.about_skills {
    text-align: center;
    background: rgba(0, 0, 0, 0.849);
    padding-bottom: 30px;
}
.about_skills h3 {
    padding-top: 20px;
    font-size: 20px;
    color: #fff;
}
.skill_box {
    width: 55%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 40px;
}
.circle_percent {
    width: 100px;
    height: 100px;
    position: relative;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: #000;
    box-shadow:  5px 5px 10px #00000080,
    -5px -5px 10px rgba(0, 0, 0, 0.5);
}
.skills:nth-child(1) .circle_percent {
    background:  conic-gradient(#ffba08 90%, transparent 0);
}

.skills:nth-child(2) .circle_percent {
    background:  conic-gradient(#ffba08 85%, transparent 0);
}

.skills:nth-child(3) .circle_percent {
    background:  conic-gradient(#ffba08 75%, transparent 0);
}
.skills:nth-child(4) .circle_percent {
    background:  conic-gradient(#ffba08 100%, transparent 0);
}
.skills:nth-child(5) .circle_percent {
    background:  conic-gradient(#ffba08 80%, transparent 0);
}
.skills:nth-child(6) .circle_percent {
    background:  conic-gradient(#ffba08 90%, transparent 0);
}
.skills:nth-child(7) .circle_percent {
    background:  conic-gradient(#ffba08 90%, transparent 0);
}
.skills:nth-child(8) .circle_percent {
    background:  conic-gradient(#ffba08 95%, transparent 0);
}
.skills:nth-child(9) .circle_percent {
    background:  conic-gradient(#ffba08 90%, transparent 0);
}
.skills .circle_percent::before {
    content: '';
    position: absolute;
    width: 85%;
    height: 85%;
    background: #03071e;
    border-radius: 50%;
}
.skills_content {
    color: #adff2f;
    position: absolute;
    text-align: center;
    user-select: none;
}
.skills_content {
    display: block;
    padding: 5px;
    font-weight: 600;
    font-size: 12px;
}
.framework {
    margin-top: 50px;
}
.framework_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#service {
    padding-top: 80px;
    background: #000;
    text-align: center;
}
.service_heading h3{
    display: inline;
    color: red;
    border-bottom:  2px solid #76af1e;
}
.service_heading h2 {
    color: #adff2f;
    margin: 20px 0;
    position:relative;
}
.service_heading h2::before {
    content: ' ';
    width: 100px;
    height: 3px;
    background: red;
    position: absolute;
    top: 35px;
    border-radius: 30px;
}
.service_heading p {
    width: 350px;
    margin: auto;
    color: #fff;
    font-size: 10px;
    text-align: left;
}
.service_content {
    margin: 20px 10px 0 10px;
    padding: 60px 0;
}
.service_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 50px;
}
.service_box .service {
flex-basis: 31%;
border: 2px solid #adff2f;
box-shadow: 2px 2px 10px #fff9;
padding: 10px;
text-align: left;
}
.service img{
    background: #fff;
}
.service h2 {
    color: #fff;
    font-size: 15px;
    padding: 10px 0;
}
.service p {
    color: #fff9;
    font-size: 11px;
}
footer {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.555),#adff2f);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
footer p {
    color: #000;
    font-weight: 700;
}
.contact_sect {
    background:rgba(0, 0, 0, 0.849);
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    text-align: center;
}
.contact_col h4,
.project_col h4 {
    color: #76af1e;
    padding: 10px;
}
.contact_col h4 {
    color: red;
}
.contact_col button,
.project_col button{
    width: 100px;
    padding: 10px;
    background: red;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-weight: 700;
}
.contact_col button {
    background: #76af1e;
}
/* #####contactpage##### */
.contactpage {
    max-width: 890px;
    width: 100%;
    height: 100vh;
    margin: auto;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact_page {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.555),#adff2f), url(./img/19977083470c87e2e345281191ed27e2.jpg)center/cover;
    box-shadow: none;
    position: relative;
}
.contact_page:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #0009;
    position: absolute;
    top: 0;
    right: 0;
}
.contactpage_content {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment_col {
    z-index: 1000;
}
.contactpage_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
form h5 {
    color: #fff;
}
form h1 {
    color: #ffd700;
}
.input_box {
    display: block;
    width: 100%;
    margin: auto;
}
textarea,
.input {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}
label {
    display: block;
    color: #fff9;
}
input {
    padding: 8px;
    outline: none;
    border: 2px solid #48ff0046;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}
textarea {
    background: transparent;
    border: 2px solid  #48ff0046;
    color: #fff9;
    font-size: 18px;
}
form button {
    margin: 0 59px;
    width: 100px;
    padding: 6px 8px;
    margin-top: 20px;
    text-align: center;
    background: transparent;
    border: none;
    border: 2px solid #adff2f;
    color: green;
    text-transform: uppercase;
    font-weight: 800;
}
.contact_link {
    z-index: 100;
}
.contact_link h3 {
    color: #ffd700;
    margin-bottom: 10px;
}
.link_box {
    margin-top: 0;
}
.contact-link,
.email_link,
.phone_number {
    margin-top: 20px;
}
.link_box p {
    width: 200px;
    margin: auto;
    text-align: center;
    font-size: 12px;
}
.img {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 20px;
}
.img img {
    width: 20px;
}
.img h4 {
    color: #adff2f;
}
.social_link {
    text-align: center;
    margin-top: 20px;
}
.link img {
    width: 25px;
    margin-left: 10px;
}
.contact_foot {
    width: 100%;
}
.project {
    max-width: 890px;
    margin: auto;
    background: #fff9;
}
.project_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 30px;
}
.project_content h2 {
    color: #ffd700;       
     padding-top: 30px;
}
.project_details {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
     flex-wrap: wrap; 
     gap: 30px;
    padding: 50px 0 45px 0;
}
.project_box {
    background: red;
    width: 250px;
    height: 300px;
    position: relative;
}
.project_box:after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.788);
    position: absolute;
    top: 0;
    left: 0;
}
.project_box img {
    width: 100%;
    height: 100%;
    object-fit: fit;
}
.project_foot {
    width: 100%;
    margin: auto;
}
.home_social {
    background: #000;
    padding: 10px;
    text-align: center;
}
.home_social>img {
    margin-left: 30px;
}

/* responsiveness */
/* @media screen and (max-width:980px) {
    .project_details {
        background: red;
    }
    .project_content {
        padding: 100px 0;
    }
    .project_box {
        flex-basis: 50%;
    }
}  */
@media screen and (max-width:830px) {
    .header {
        justify-content: center;
    }
}
@media screen and (max-width:765px) {
    .header {
        width: 100vw;
        padding: 10px 50px;
        align-items: center;
        justify-content: space-between;
    }
    nav {
        display: none;
    }
    .skill_box {
        width: 50%;
        margin: auto;
        margin-top: 40px;
    }
    .skills_content {
        font-size: 10px;
    }
    .circle_percent {
        width: 70px;
        height: 70px;
    }
    .about_info {
        padding: 0 20px 0 20px;
    }
    .about_info p{
        width: 300px;
        font-size: 11px;
    }
    .abt_btn {
        width: 80%;
    }
    .service_box .service {
        flex-basis: 45%;
        }
        .project_content h2 {
            color: #ffd700;       
            padding-top: 50px;
        }
        .icon_nav  {
            display: flex;
            float: left;
        }
        .nav_icon a img{
            width: 30px;
            margin-left: 50px;
        }
}

@media screen and (max-width:650px) {
    .skill_box {
        width: 54%;
        margin: auto;
        margin-top: 40px;
    }
    .skills_content {
        font-size: 10px;
    }
    .circle_percent {
        width: 70px;
        height: 70px;
    }
    .about_info {
        padding: 0 40px 0 20px;
    }
    .about_info p{
        width: 250px;
        font-size: 11px;
    }
    .abt_btn {
        width: 100%;
        justify-content: left;
    }
    .hireme {
        border-radius: 30px;
        margin-right: 10px;
    }
    .cv {
        border-radius: 30px;
    }
    .img_col {
        padding: 20px;
    }
    .img_col img {
        width: 200px;
    }
    .service_box .service {
        flex-basis: 45%;
        }
        .contact_sect {
            padding: 40px 10px;
        }
        .contact_link {
            padding-top: 20px;
        } 
}

@media screen and (max-width:550px) {
    .header {
        padding: 10px 20px 10px 5px;
        justify-content: center;
    }
    .hero_content {
        flex-direction: column;
        justify-content: center;
        padding: 40px;
    }
    .col_right {
        order: 1;
    }
    .hero_img img{
        width: 200px;
    }
    .col_left {
        order: 2;
    }
    .img_col img {
        width: 200px;
    }
    .skill_box {
        width: 65%;
        margin: auto;
    }
    .skills_content {
        font-size: 10px;
    }
    .circle_percent {
        width: 70px;
        height: 70px;
    }
    .about_content {
        flex-direction: column;
        justify-content: center;
        padding: 20px 0;
        border: 2px solid green;
    }
    .img_col {
        padding: 0;
    }
    .about_info p{
        width: 100%;
        font-size: 13px;
        padding-right: 0;
    }
    .skill_box {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .service_box {
        flex-direction: column;
    }
    .service_box .service {
    flex-basis: 31%;
    padding: 0;
    }
    .contact_sect {
        padding: 40px 0; 
    }
    .contact_col h4,
.project_col h4 {
    color: #76af1e;
    padding: 0;
    font-size: 13px;
}
.contactpage {
    min-height: 980px;
}
form h1 {
    padding-top: 70px;
}
.contactpage_content {
    display: flex;
    flex-direction: column;
}
.comment_col {
    width: 100%;
}
.input {
    width: 60%;
}
textarea {
    width: 60%;
}
form button {
    margin-left:  85px;
}
.contact_link {
    width: 100%;
    margin: 0;
}
.contact-link {
    margin-top: 0;
}
.contact_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.contact-link,
.email_link,
.phone_number {
    margin-top: 10px;
    width: 45%;
}
.img {
    padding: 10px 0;
}
.img h4 {
    font-size: 10px;
}
.link_box {
    padding: 0 5px;
}
.link_box p {
    width: 70%;
    font-size: 9px;
    text-align: left;
}
.nav_icon a img{
    width: 25px;
    margin-left: 15px;
}
.home_social>img {
    margin-left: 5px;
}
}